{% extends "index.html" %}

{% block title%}Clima{% endblock%}
{%block css%}'<link href="../static/css/weather-icons.min.css?v=1.0.0" rel="stylesheet"/><link href="../static/css/el-tiempo-icons.css?v=1.0.0" rel="stylesheet"/>'{% endblock%} 

{% block content%}
<div class="row">
    <div class="col-sm-5">
        <div class="card ">
            <div class="card-header">
                Santa Cruz
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <td width="20%">
                            <span style="font-size: 4em; display: inline" class= "icon-weather text2middle" data-icon="{{sc[0].cielo }}"></span>
                            {{sc[0].desc }}
                        </td>
                        <td>
                            <div style="padding-left: 2em;">
                                Humedad: {{sc[0].humedad }} <br>
                                Prob lluvia: {{sc[0].plluvia }}<br>
                                Cantidad lluvia: {{sc[0].cant_lluvia }}<br>
                                Sensación Termica: {{sc[0].sens_termica }}<br>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
         </div>
    </div>     
    <div class="col-sm-2">
        <div class="card ">
            <div class="card-header">
                Luna 
            </div>
            <div class="card-body">
                {{moon | safe}}    
            </div>
         </div>
    </div>     
    <div class="col-sm-5">
        <div class="card ">
            <div class="card-header">
                La Laguna 
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <td width="20%">
                            <span style="font-size: 4em; display: inline" class= "icon-weather text2middle" data-icon="{{sc[0].cielo }}"></span>
                            {{ll[0].desc }}
                        </td>
                        <td>
                            <div style="padding-left: 2em;">
                                Humedad: {{ll[0].humedad }} <br>
                                Prob lluvia: {{ll[0].plluvia }}<br>
                                Cantidad lluvia: {{ll[0].cant_lluvia }}<br>
                                Sensación Termica: {{ll[0].sens_termica }}<br>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card ">
        <div class="card-header">
            Santa Cruz
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr align="center">
                        <th width="15%">Fecha</th>
                        <th width="22%">Max-Min</th>
                        <th width="15%">Viento</th>
                        <th width="15%">% Lluvia</th>
                        <!-- <th>% Nubes</th>
                        <th>% Luna </th> -->
                    </tr>
                </thead>
            {%for item in sc %}
                <tr align="center" style="border-bottom: 1px solid;">
                    <td>{{item.fecha}} </td>
                    <td>{{item.sens_termica}}</td>
                    <td>{{item.viento}}</td>
                    <td>{{item.plluvia}}</td>
                </tr>
            {%endfor%}
            </table>   
        </div>
    </div>
    </div>
    <!--/row1-->
    <!--row1-->
    <div class="col-sm-6">
        <div class="card ">
        <div class="card-header">
            La Laguna
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr align="center">
                        <th width="15%">Fecha</th>
                        <th width="22%">Max-Min</th>
                        <th width="15%">Viento</th>
                        <th width="15%">% Lluvia</th>
                        <!-- <th>% Nubes</th>
                        <th>% Luna </th> -->
                    </tr>
                </thead>
            {%for item in ll %}
                <tr align="center" style="border-bottom: 1px solid;">
                    <td>{{item.fecha}}</td>
                    <td>{{item.sens_termica}}</td>
                    <td>{{item.viento}}</td>
                    <td>{{item.plluvia}}</td>
                </tr>
            {%endfor%}
            </table>   
        </div>
        </div>
    </div>
</div>
{% endblock%}

