{% extends "index.html" %}

{% block title%}Clima{% endblock%}

{% block content%}
<div class="row">
    <div class="col-sm-6">
        <div class="card ">
            <div class="card-header">
                Santa Cruz
            </div>
            <div class="card-body">
                {{ widgetsc | safe}}
            </div>
         </div>
    </div>     
    <div class="col-sm-6">
        <div class="card ">
            <div class="card-header">
                La Laguna 
            </div>
            <div class="card-body">
                {{ widgetll | safe}}
            </div>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card ">
        <div class="card-header">
            Santa Cruz
        </div>
        <div class="card-body">
            <table>
            <thead>
                <tr align="center">
                    <th width="15%">Fecha</th>
                    <th width="22%">Max - Min</th>
                    <th>Viento (km/h)</th>
                    <th>% Lluvia</th>
                    <th>$ Lluvia</th>
                    <th>% Nubes</th>
                    <th>% Luna </th>
                </tr>
            </thead>
            {%for item in sc %}
            <tr align="center" style="border-bottom: 1px solid;">
                <td><h6>{{item[0] | safe}}</h6></td>
                <td>{{item[1] | safe}}</td>
                <td>{{item[2] | safe}}</td>
                <td>{{item[3] | safe}}</td>
                <td>{{item[4] | safe}}</td>
                <td>{{item[5] | safe}}</td>
                <td>{{item[6] | safe}}</td>
            </tr>
            {%endfor%}
            <tr>
                <td colspan="7">
                    Informe detallado
                </td>
            </tr>
            </table>
        </div>
    </div>
    </div>
    <!--/row1-->
    <!--row1-->
    <div class="col-sm-6">
        <div class="card ">
        <div class="card-header">
            La Laguna
        </div>
        <div class="card-body">
            <table>
            <thead>
                <tr align="center">
                <th width="15%">Fecha</th>
                <th width="22%">Max - Min</th>
                <th>Viento (km/h)</th>
                <th>% Lluvia</th>
                <th>$ Lluvia</th>
                <th>% Nubes</th>
                <th>% Luna </th>
                </tr>
            </thead>
            {%for item in ll %}
            <tr align="center" style="border-bottom: 1px solid;">
                <td><h6>{{item[0] | safe}}</h6></td>
                <td>{{item[1] | safe}}</td>
                <td>{{item[2] | safe}}</td>
                <td>{{item[3] | safe}}</td>
                <td>{{item[4] | safe}}</td>
                <td>{{item[5] | safe}}</td>
                <td>{{item[6] | safe}}</td>
            </tr>
            {%endfor%}
            </table>
        </div>
        </div>
    </div>
</div>
{% endblock%}

