{% extends "index.html" %}

{% block title%}Clima{% endblock%}
{%block css%}
    <link href="../static/css/weather-icons.min.css?v=1.0.0" rel="stylesheet"/><link href="../static/css/el-tiempo-icons.css?v=1.0.0" rel="stylesheet"/>
    <style>
        .cal{
            display: flex; 
            flex-direction: row; 
            margin-left:10px; 
            margin-bottom:50px;
            width: 90px; 
            text-align: center; 
        }
    </style>
{%endblock%} 

{% block content%}
<div class="row">
    <div class="col-sm-5">
        <div class="card ">
            <div class="card-header">
                Santa Cruz
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <td width="30%" align="center">
                            <span style="font-size: 4em; display: inline" class= "icon-weather text2middle" data-icon="{{sc[0].cielo }}"></span><br>
   
                        </td>
                        <td>
                            <div style="padding-left: 2em;">
                                <b><span style="font-size:1.8em"></span>{{sc[0].desc }}</span></b><br>
                                <b><span style="font-size:1.8em"> {{sc[0].sens_termica }} º</span></b><br>
                                <b><span class="icon-weather" data-icon="humidity"></span>: </b><span style="font-size:1.2em"> {{sc[0].humedad}} %</span> <br>
                                <b><span class="icon-weather" data-icon="rain"></span>:</b><span style="font-size:1.2em"> {{sc[0].plluvia}} %</span><br>
                                <b><span class="icon-weather" data-icon="raindrops" style="font-size: 1.8em"></b><span style="font-size:1.2em"> {{sc[0].cant_lluvia }} ml</span><br>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
         </div>
    </div>     
    <div class="col-sm-2">
        <div class="card ">
            <div class="card-header">
                Luna 
            </div>
            <div class="card-body">
                {{moon | safe}}    
            </div>
         </div>
    </div>     
    <div class="col-sm-5">
        <div class="card ">
            <div class="card-header">
                La Laguna 
            </div>
            <div class="card-body">
                <table>
                    <tr>
                        <td width="30%" align="center">
                            <span style="font-size: 4em; display: inline" class= "icon-weather text2middle" data-icon="{{sc[0].cielo }}"></span><br>
                        </td>
                        <td>
                            <div style="padding-left: 2em;">
                                <b><span style="font-size:1.8em"></span>{{ll[0].desc }}</span></b><br>
                                <b><span style="font-size:1.8em"> {{ll[0].sens_termica }} º</span></b><br>
                                <b><span class="icon-weather" data-icon="humidity"></span>: </b><span style="font-size:1.2em"> {{ll[0].humedad}} %</span> <br>
                                <b><span class="icon-weather" data-icon="rain"></span>:</b><span style="font-size:1.2em"> {{ll[0].plluvia}} %</span><br>
                                <b><span class="icon-weather" data-icon="raindrops" style="font-size: 1.8em"></b><span style="font-size:1.2em"> {{ll[0].cant_lluvia }} ml</span><br>
                                
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Lunas del mes 
            </div>
            <div class="card-body">
                {{moons | safe}}    
            </div>
         </div>
    </div>     
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card ">
        <div class="card-header">
            Santa Cruz
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr align="center">
                        <th width="15%">Fecha</th>
                        <th width="22%">Max-Min</th>
                        <th width="15%">Viento</th>
                        <th width="15%">% Lluvia</th>
                        <!-- <th>% Nubes</th>
                        <th>% Luna </th> -->
                    </tr>
                </thead>
            {%for item in sc %}
                <tr align="center" style="border-bottom: 1px solid;">
                    <td>{{item.fecha}} </td>
                    <td>{{item.sens_termica}}</td>
                    <td>{{item.viento}}</td>
                    <td>{{item.plluvia}}</td>
                </tr>
            {%endfor%}
            </table>   
        </div>
    </div>
    </div>
    <!--/row1-->
    <!--row1-->
    <div class="col-sm-6">
        <div class="card ">
        <div class="card-header">
            La Laguna
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr align="center">
                        <th width="15%">Fecha</th>
                        <th width="22%">Max-Min</th>
                        <th width="15%">Viento</th>
                        <th width="15%">% Lluvia</th>
                        <!-- <th>% Nubes</th>
                        <th>% Luna </th> -->
                    </tr>
                </thead>
            {%for item in ll %}
                <tr align="center" style="border-bottom: 1px solid;">
                    <td>{{item.fecha}}</td>
                    <td>{{item.sens_termica}}</td>
                    <td>{{item.viento}}</td>
                    <td>{{item.plluvia}}</td>
                </tr>
            {%endfor%}
            </table>   
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                Calendario lunar 
            </div>
            <div class="card-body">
                {{calmoon | safe}}    
            </div>
         </div>
    </div>     
</div>
{% endblock%}

