{% extends "index.html" %}

{% block title%}Music Lists{% endblock%}

{% block content%}
<div class="row">
    <div class="col-sm-12">
        <div class="card ">
            <div class="card-header">
                Radios Online
            </div>
            <div class="card-body">
                <ul>
                <li>{{radiosonline |safe}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="card ">
            <div class="card-header">
                Los 40
            </div>
            <div class="card-body">
                <ul>
                {% for p in ppales %}
                <li>{{p | safe}}</li>

                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card ">
            <div class="card-header">
                HitFM
            </div>
            <div class="card-body">
                <ul>
                {% for p in hitfm %}
                    <li>{{p | safe}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card ">
            <div class="card-header">
                Los 40 Classics
            </div>
            <div class="card-body">
                <ul>
                    {% for p in classics %}
                        <li>{{p | safe}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card ">
            <div class="card-header">
                Kiss FM
            </div>
            <div class="card-body">
                <ul>
                    {% for p in kiss %}
                        <li>{{p | safe}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock%}